@model Ingredient
@{
    ViewBag.Title = "Ingredient Details";
}

<h1>@Model.Name Details</h1>

@if (Model.ProductIngredients != null && Model.ProductIngredients.Any())
{
    <h4>Products</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productIngredient in Model.ProductIngredients)
            {
                <tr>
                    <td>@productIngredient.Product?.Name</td>
                    <td>@productIngredient.Product?.Description </td>
                    <td>@productIngredient.Product?.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products are associated with this ingredient.</p>
}

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
